ul{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 1300px;
    margin: 0 auto;
    justify-content: center;
    padding: 100px 0px;

    li{
        padding: 20px;
        border-radius: 30px;
        width: 22%;
        box-shadow: 0px 0px 20px black;

        .title{
            text-align: center;
            font-size: 20px;
            color: rgb(0, 167, 0);
            margin: 10px;
        }

        .info{
            margin: 5px 0;
            color: rgb(26, 26, 26);

            span{
                color: rgb(59, 59, 59)
            }
        }


    }
}
